{# app/templates/base.html #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{{url_for('static',filename='/static/css/styles.css')}}">
</head>

<body>

    <div class="privacy">
        <section class="bg-gray-900">
          <div class="flex justify-center items-center py-8 px-8 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
              <div class="max-w-screen-lg sm:text-lg text-gray-400">
                  <h1 class="mb-4 text-4xl tracking-tight font-bold text-white">Test</h1>
                  <p class="mb-4 font-light">It's work!</p>
                </div>
          </div>
        </section>
    </div>

</body>

</html>